.women {
    & .store__header--title , & .store__header--menu a {
        color: $color-blush;
    }
    & .store__header--menu a:hover {
        color: $color-sea;
    }

    & .store__header--menu .active {
        color: $color-sea;
    }
    & .store__header--menu .active {
        color: $color-sea;
    }
    & .store__item--details a {
        background-color: $color-sea;
    }
}
.men {
    & .store__header--title , & .store__header--menu a {
        color: $color-coral;
    }
    & .store__header--menu a:hover {
        color: $color-grey-dark-3;
    }
    & .store__item--details a {
        background-color: $color-coral;
    }
}
.kids {
    & .store__header--title , & .store__header--menu a {
        color: $color-kids;
        
    }
    & .store__header--menu a:hover {
        color: $color-grey-dark-3;
    }
    & .store__header--menu .active {
        color:$color-grey-dark-3;
    }
    & .store__item--details a {
        background-color: $color-kids;
    }
}


.store {
    padding: 8rem 0;

    &__header {



        &--title {
            font-size: 4.5rem;
            text-align: center;
            
        }

        &--menu {
            text-align: center;
            margin-top: 2rem;
            & ul {
                list-style: none;
                display: flex;
                justify-content: center;
                & li {
                    cursor: pointer;
                    font-size: 2rem;

                    &:not(:last-child) {
                        margin-right: 1.6rem
                    }
                    & a {
                       &:link, &:visited {
                            display: inline-block;
                            text-decoration: none;
                            font-weight: 500;
                            text-transform: uppercase;
                            transition: all .5s;
                       }
                       &:active, &:hover {
                            transform: translateY(-2px);
                       }
                    }
                }
            }
        }
    }

    &__body {
        margin-top: 8rem;
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & .store__item {
            //display: inline-block;
            flex: 0 0 30%;
            text-align: center;
            position: relative;
            margin-bottom: 4.5rem;
            transition: all 2s;
            overflow: hidden;
            &:hover {
                & .store__item--details {
                    opacity: 1;
                    bottom: 0rem;
                }

                & .store__item--image-img {
                    transform: scale(1.05);
                    filter: blur(2px);
                }
            }
            &--image {
        
                &-img {
                    max-width: 100%;
                    transition: all .5s;
                }
            }

            &--details {
                opacity: 0;
                position: absolute;
                bottom: -10rem;
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
                background-color: rgba($color: #000000, $alpha: .8);
                //padding: 8rem 0;
                color: White;
                height: 50%;
                font-size: 2rem;
                padding: 3rem 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                transition: all .5s;
                & p {

                }

                & .prix {
                    font-weight: 900;
                    margin-top: auto;
                }

                & a {
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    padding: .5rem 1.5rem;
                    width: 50%;
                    margin: 2rem auto 0 auto;
                    border-radius: 50rem;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: transform .3s;
                    &:hover {
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
}